# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências (a pasta mais importante a ser ignorada)
node_modules

# Arquivos de build de produção
dist
dist-ssr

# Arquivos de ambiente
# ESSENCIAL para não expor suas chaves de API!
.env
.env.local
.env.*.local

# Cache do Vite
.vite

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Diretórios de IDEs
.vscode/
.idea/

# Relatórios de teste
coverage